*.kdev4
*.opensdf
*.pdb
*.sdf
*.suo
*.swp
*.user
build-*
*.iml
.gradle
.externalNativeBuild
.class
.DS_Store
x64/
/build/
/build_2015/
/buildx/
/freeglut/
/install/
/*.tags
/Apps/InfiniTAM_Android/local.properties
/Apps/InfiniTAM_Android/.idea/workspace.xml
/Apps/InfiniTAM_Android/.idea/libraries
/Apps/InfiniTAM_Android/build
/Apps/InfiniTAM_Android/app/assets/src/
/Apps/InfiniTAM_Android/captures
/ITMLib/*.cl.bin
/build_2015
/InfiniTAM/build/
/InfiniTAM/buildx/
/InfiniTAM/freeglut/
/InfiniTAM/install/
/InfiniTAM/Files/Out/out.ppm
/InfiniTAM/Files/Out/*.ppm
/InfiniTAM/Files/Teddy/Frames
/InfiniTAM/*.tags
/InfiniTAM/Apps/android/local.properties
/InfiniTAM/Apps/android/.idea/workspace.xml
/InfiniTAM/Apps/android/.idea/libraries
/InfiniTAM/Apps/android/build
/InfiniTAM/Apps/android/app/assets/ORUtils/
/InfiniTAM/Apps/android/app/assets/SLAMGraphLib/
/InfiniTAM/Apps/android/app/assets/TrackingLib/
/InfiniTAM/Apps/android/app/assets/ViewLib/
/InfiniTAM/Apps/android/app/assets/VoxelLib/
/InfiniTAM/Apps/android/app/assets/src/
/InfiniTAM/Apps/android/captures
/InfiniTAM/VoxelLib/*.bin
/InfiniTAM/ViewLib/*.bin
/InfiniTAM/TrackingLib/*.bin
/tmp/freeglut-MSVC-2.8.1-1.mp.zip
/RelocLib/Fern/PoseDatabase.h
/RelocLib/Fern/PoseDatabase.cpp
/build_ocl

*.xcbkptlist

*.xcuserstate

Files/Nets/fasterSlowFeatures\.bin

Files/Nets/fasterSlowFeatures\.txt

Files/Nets/fastNormals\.bin

Files/Nets/fcn\.bin

Files/Nets/resnet\.bin

Files/Nets/slowNormals\.bin
